@model WebApp.Models.Form  
@{ 
    List<ValidationFramework.ResultValidation> dicError = ViewBag.DicError?? new List<ValidationFramework.ResultValidation>();
    
}
<form action="/Validation/Index" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="text" value="@Model?.Email" name="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small style="color:red" class="form-text">@dicError.FirstOrDefault(d => d.FieldName == "Email")?.Message</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Phone</label>
        <input type="text" value="@Model?.Phone" name="Phone" class="form-control"  placeholder="Phone">
        <small style="color:red" class="form-text ">@dicError.FirstOrDefault(d=>d.FieldName=="Phone")?.Message</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">FullName</label>
        <input type="text" value="@Model?.FullName" name="FullName" class="form-control"  placeholder="FullName">
        <small style="color:red" class="form-text ">@dicError.FirstOrDefault(d => d.FieldName == "FullName")?.Message</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Custom</label>
        <input type="text" value="@Model?.Custom" name="Custom" class="form-control"  placeholder="Custom">
        <small style="color:red" id="emailHelp" class="form-text">@dicError.FirstOrDefault(d => d.FieldName == "Custom")?.Message</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Regex</label>
        <input type="text" value="@Model?.Regex" name="Regex" class="form-control"  placeholder="Regex">
        <small style="color:red" class="form-text ">@dicError.FirstOrDefault(d => d.FieldName == "Regex")?.Message</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>